viikko1teht1/build/
viikko1teht1/*.user

viikko1teht2/build/
viikko1teht2/*.user

viikko3teht1/build/
viikko3teht1/*.user

viikko4teht1/build/
viikko4teht1/*.user

viikko5teht1/build/
viikko5teht1/*.user

viikko6teht1/build/
viikko6teht1/*.user